{% extends 'base.html' %}

{% block title%}
Databases
{% endblock%}

{% block body%}
<h1>The list of databases</h1>
<form action="" method="POST" class="poisk">
  <input type="text" name="poisk">
  <input type="submit" value="Найти">
</form>
<div class="col-md-12">
	<div class="card card-warning">
		<div class="card-header"> <a href="/databases/mortality"> Смертность </a> </div>
		<div class="card-body"> Описание </div>
	</div>
    <br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#"> Название2 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
    <br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название3 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название4 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название5 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название6 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название7 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название8 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
	<br>
    <div class="card card-warning">
		<div class="card-header"> <a href="#">  Название9 </a> </div>
		<div class="card-body"> Описание </div>
	</div>
</div>
{% endblock%}